---
---
<div class="block sm:flex lg:block lift-card bg-white m-0">
    <slot name="image"></slot>
    <div class="grid gap-4 p-4">
        <slot name="header"></slot>
        <slot name="description"></slot>
    </div>
</div>